<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Testerka{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">    
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Testerka</a>
            </div>
            {% block sidebar %}
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li><a href="/">Zalogowany jako: {{ user.get_username }}</a></li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">Wyloguj</a></li>   
            {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Zaloguj</a></li>   
            {% endif %} 
            </ul>
            {% endblock %}
        </div>
    </nav>

    <div id="container" style="padding: 5%">
        {% block content %}{% endblock %}
    </div>
</body>
</html>